<div class="modal" id="contact-modal">
    <div class="modal__content modal__content--contact">
        <button type="button" class="modal__close">
            <img src="../assets/images/close.svg" alt="Close">
        </button>

        <form action="/" class="form">
            <div class="form__group">
                <input type="text" class="form__control" placeholder="Ваше имя">
                <span class="form__line"></span>
            </div>
            <div class="form__group">
                <input type="email" class="form__control" placeholder="Ваш e-mail">
                <span class="form__line"></span>
            </div>
            <div class="form__group">
                <input type="text" class="form__control form__control--textarea" placeholder="Текст сообщения">
                <span class="form__line"></span>
            </div>
            <div class="form__footer">
                <div class="form__group">
                    <button type="submit" class="btn btn--blue btn--rounded btn--sm">Отправить</button>
                </div>
            </div>
        </form>

        <ul class="modal__footer">
            <li><a href="mailto:info@mywebsite.ru">e-mail: info@mywebsite.ru</a></li>
            <li><a href="tel:+94323285622">тел: +943-232-856-22</a></li>
        </ul>
    </div>
</div>