<div class="modal">
    <div class="modal__content">
        <button type="button" class="modal__close">
            <img src="../assets/images/close.svg" alt="Close">
        </button>

        <ul class="social">
            <li class="social__item"><a href="#" class="social__link"><img src="../assets/images/share/facebook-big.svg" alt=""></a></li>
            <li class="social__item"><a href="#" class="social__link"><img src="../assets/images/share/twitter-big.svg" alt=""></a></li>
            <li class="social__item"><a href="#" class="social__link"><img src="../assets/images/share/vk-big.svg" alt=""></a></li>
            <li class="social__item"><a href="#" class="social__link"><img src="../assets/images/share/copy-big.svg" alt=""></a></li>
        </ul>
    </div>
</div>